= link_to 'Back to all', questions_path

%h3= @question.title
%p= @question.body

- if user_signed_in? && @question.user_id == current_user.id
  = link_to 'Delete question', question_path(@question), method: :delete

%ul.mdl-list{'data-answers' => true}
  - @answers.each do |answer|
    = render 'answers/list-item', answer: answer

.mdl-grid
  .mdl-layout-spacer
  %div
    %p
      %span= 'Count: '
      %span{'data-answers-count' => true}= "#{@answers.count}"

- unless @answers.present?
  .mdl-grid.mdl-color--grey-100{'data-no-answers' => true}
    %p There is no answers to this question

- if user_signed_in?
  = form_for [@question, @question.answers.new], remote: true do |f|
    = f.label :body
    = f.text_area :body
    = f.submit 'Answer the question'
- else
  %p
    = link_to 'Sign in', new_user_session_path
    = ' or '
    = link_to 'register', new_user_registration_path
    = ' to answer the question'
