!!! 5
%html
  %head
    %title QnA
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'}
    = csrf_meta_tags
    = stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all'
    = stylesheet_link_tag    'https://code.getmdl.io/1.3.0/material.blue-orange.min.css', media: 'all'
    = javascript_include_tag 'https://code.getmdl.io/1.3.0/material.min.js', defer: true
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .mdl-grid
      .mdl-cell.mdl-cell--3-col.mdl-cell--1-col-tablet
      .mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet
        - if notice.present?
          .mdl-grid
            %p.mdl-color--amber-600.notice= notice
        - elsif alert.present?
          .mdl-grid
            %p.mdl-color-text--red-900.notice= alert
        = yield
      .mdl-cell.mdl-cell--3-col.mdl-cell--1-col-tablet
